<div _ngcontent-qle-c234="" class="tab-content">
    <div _ngcontent-qle-c234="" class="tab-content">
    <div _ngcontent-qle-c245="" class="pr-tab-content ng-tns-c245-39">
    <div _ngcontent-qle-c245="" class="row ng-tns-c245-39">
    <div _ngcontent-qle-c245="" class="col-12 ng-tns-c245-39">
    <div _ngcontent-qle-c245="" aprrunscripts="" class="product-about-description ng-tns-c245-39">
    <div class="zoomie">
    <div>
    <div class="maintext">
    <div class="logores"><img alt="" src="https://it4profit.com/share/common/Group_1792.png" width="100%"></div>
    <div class="maintitle">It’s magic, remastered.</div>
    <div class="pdmain">Introducing the all-new AirPods.Featuring spatial audio that places sound all around you, Adaptive EQ that tunes music to your ears, and longer battery life. It’s all sweat and water resistant and delivers an experience that’s simply magical.</div>
    <div>
    <img class="hidemob" alt="" src="https://it4profit.com/share/common/image_1823.jpg" width="70%"> <img class="hidedesk" style="padding-bottom: 20px;" alt="" src="https://it4profit.com/share/common/image_1824.jpg" width="90%">
    </div>
    <div><img style="padding-bottom: 15px;" class="hidedesk" alt="" src="https://it4profit.com/share/common/211112/image_1815.jpg" width="260px"></div>
    </div>
    </div>
    <div>
    <div class="controw">
    <div class="cont50">
    <div class="shape1"> </div>
    </div>
    <div class="cont50">
    <div class="shape2">
    <div class="text-shape">
    <div class="bigtitle">Bass hits <br>an all-time high</div>
    <div class="textnorm">An Apple-designed dynamic driver, powered <br class="hidemob">by a custom amplifier, renders music <br class="hidemob">in exceptionally detailed sound quality — <br class="hidemob">so you revel in every tone, from deep, <br class="hidemob">rich bass to crisp, clean highs.</div>
    <div class="marfeat hidemob"> </div>
    </div>
    </div>
    </div>
    </div>
    <div class="controw">
    <div class="cont70">
    <div class="shape2">
    <div class="rowfullfeat ">
    <div class="cont30mod">
    <img class="hidemob" alt="" src="https://it4profit.com/share/common/image_1816.jpg" width="75%" style="margin-left: 20%; margin-right: auto;"> <img class="hidedesk" alt="" src="https://it4profit.com/share/common/image_1816.jpg" width="65%" style="margin-left: auto; margin-right: auto;">
    </div>
    <div class="cont70mod">
    <div class="text-shape2">
    <div class="textnorm">AirPods have an extra hour of battery life, for up to 6 hours of listening time and up to 4 hours of talk time. With just 5 minutes of charge, you’ll get around an hour of listening or talk time. And with the MagSafe Charging Case, you can enjoy up to 30 hours of total listening time and charge with compatible MagSafe and wireless chargers.</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="cont30 pt15">
    <div class="shape2">
    <img class="hidemob" alt="" src="https://it4profit.com/share/common/Rectangle_663.jpg" width="100%"> <img class="hidedesk" alt="" src="https://it4profit.com/share/common/apm.jpg" width="100%">
    </div>
    </div>
    </div>
    <div class="controw">
    <img class="hidemob" style="padding-left: 1%; padding-right: 1%;" alt="" src="https://it4profit.com/share/common/greeneng.jpg" width="100%">
    <div class="hidedesk">
    <div class="cont50"><img style="padding-left: 1%; padding-right: 1%;" alt="" src="https://it4profit.com/share/common/green2eng.jpg" width="100%"></div>
    </div>
    </div>
    <div class="controw">
    <div class="cont30">
    <div class="shape2">
    <img class="hidemob" alt="" src="https://it4profit.com/share/common/211111-2/ap1.jpg" width="100%"> <img class="hidedesk" alt="" src="https://it4profit.com/share/common/waves.jpg" width="100%">
    </div>
    </div>
    <div class="cont70 pt15">
    <div class="shape2">
    <div class="rowfullfeat ">
    <div class="cont70mod">
    <div class="text-shape3">
    <div class="bigtitle">Sprinkles? No sweat.</div>
    <div class="textnorm">Both AirPods and the MagSafe Charging Case are rated IPX4 sweat and water resistant, so they’ll withstand anything from rain to heavy workouts.</div>
    </div>
    </div>
    <div class="cont30mod">
    <img class="hidemob" alt="" src="https://cdn.shopify.com/s/files/1/0712/7626/5692/files/image_1818.jpg?v=1723182779" width="65%" style="margin-left: auto; margin-right: 20%;"><img class="hidedesk pb15" alt="" src="https://cdn.shopify.com/s/files/1/0712/7626/5692/files/image_1818.jpg?v=1723182779" width="50%" style="margin-left: auto; margin-right: auto;">
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="controw">
    <div class="cont50 hidemob">
    <div class="shape4"> </div>
    </div>
    <div class="cont50">
    <div class="shape2">
    <div class="text-shape4">
    <div class="bigtitle">All-new design.</div>
    <div class="textnorm">With all new design: the stem got 33 percent shorter with its contoured design, they sit at just the right angle for comfort and to better direct audio to your ear.</div>
    <div class="marfeat hidemob"> </div>
    </div>
    </div>
    </div>
    </div>
    <div class="cont50"><img style="padding-bottom: 15px;" class="hidedesk" alt="" src="https://cdn.shopify.com/s/files/1/0712/7626/5692/files/1309130061.jpg?v=1723182806" width="260px"></div>
    </div>
    </div>
    <p></p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <style type="text/css">
    @media (min-width: 768px) and (max-width: 3840px) {
    .fixh {
    height: 35px;
    }
    .marfeat {
    margin-right: 28%; 
    }
    .pdacs {
    padding-left: 30%;
    padding-right: 5%;
    }
    .pdmain {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 20px;
    }
    .t0p0 {
    padding-top: 0px; 
    padding-bottom: 0px;
    }
    .hidedesk {
    display: none;
    }
    .cell20 {
    display: flex;
    width: 8%;
    margin-right: 6%;
    }
    .cell80 {
    display: flex;
    align-items:baseline;
    width: 67%;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    }
    .cell50 {
    display: flex;
    width: 49%;
    margin-right: 1%;
    flex-direction: column;
    }
    .rowfullfeat {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }
    .controw {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 690px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    }
    .controw2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 0px;
    }
    .controw3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 615px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    }
    .controw4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    }
    .controw5 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 660px;
    margin-left: auto;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    }
    .cont25 {
    display: flex;
    flex-direction: column;
    width: 21%;
    margin-right: 4%;
    }
    .cont50mod {
    display: flex;
    flex-direction: column;
    width: 50%;
    }
    .cont50mod2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    }
    .cont50 {
    display: flex;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    }
    .cont30 {
    display: flex;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    }
    .cont70 {
    display: flex;
    width: 65%;
    margin-left: 1%;
    margin-right: 1%;
    }
    .cont30mod {
    display: flex;
    width: 40%;
    }
    .cont70mod {
    display: flex;
    width: 60%;
    }
    .cont50left {
    display: flex;
    width: 44%;
    flex-direction: column;
    margin-left: 6%;
    }
    .cont50acs {
    display: flex;
    width: 50%;
    flex-direction: column;
    }
    .cont50comp {
    display: flex;
    width: 189px;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    }
    .cont50comphm {
    display: flex;
    width: 189px;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    }
    .cont100 {
    display: flex;
    width: 690px;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    }
    .textsm {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    }
    .textsmfeat {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    }
    .tinytext {
    font-size: 9px;
    line-height: 13px;
    font-weight: 600;
    }
    .textsmfeat2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    }
    .smtitle {
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 5px;
    }
    .logores {
    width: 90px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    .icores {
    height: 40px;
    width: auto;
    padding-bottom: 15px;
    }
    .maintitle {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    padding-bottom: 10px;
    }
    .bigtitle {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    }
    .btitlecomp {
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 10px;
    }
    .textnorm {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    padding-top: 5px;
    }
    .nf100 {
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    }
    .nf100v2 {
    width: 660px;
    margin-left: auto;
    }
    .maintext {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    padding-top: 20px;
    }
    
    .ban1 {
    background-size: 1890px; 
    height: 680px;
    background-image: url(https://it4profit.com/share/common/211108/S1_Logo_1d1d1f_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center top;
    }
    .ban2 {
    background-size: 1890px;
    display: flex;
    height: 770px;
    background-image: url(https://it4profit.com/share/common/S1_BG_f2f2f2_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    .ban3 {
    background-size: 1890px;
    display: flex;
    height: 470px;
    background-image: url(https://it4profit.com/share/common/211108/RX-S3_Smart_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    .ban4 {
    background-size: 1890px;
    display: flex;
    height: 540px;
    background-image: url(https://it4profit.com/share/common/MX-S4_Creative_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    .ban5 {
    background-size: 1890px;
    display: flex;
    height: 500px;
    background-image: url(https://it4profit.com/share/common/MX-S5_Creative_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    .ban6 {
    background-size: 1890px;
    display: flex;
    height: 490px;
    background-image: url(https://it4profit.com/share/common/MX-S6_Creative_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    .ban7 {
    background-size: 1890px;
    display: flex;
    height: 470px;
    background-image: url(https://it4profit.com/share/common/MX-S7_Creative_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    .ban8 {
    background-size: 1890px;
    display: flex;
    height: 470px;
    background-image: url(https://it4profit.com/share/common/211110-1/RX-S10_Smart_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    .feature {
    width: 100%;
    padding-top: 50px;
    background-color: #F5F5F7; 
    }
    .stripe {
    height: 10px;
    background-color: #F5F5F7; 
    }
    .dffw {
    flex-wrap: wrap;
    align-items: flex-start;
    }
    .pb50 {
    padding-bottom: 50px;
    }
    .pb15 {
    padding-bottom: 15px;
    }
    .ptpb {
        padding-top: 5px;
        padding-bottom: 20px;
    }
    .imgres {
        width: 75%;
        padding-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .line {
        height: 1px;
        background-color: #EEEEF0;
    }
    .icorescomp {
        width: 30%;
        padding-top: 25px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .icorescomppen {
        width: 25%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .legal {
    font-size: 11px;
    line-height: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    .text-shape {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 81.5px;
    padding-bottom: 81.5px;
    }
    .text-shape2 {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 41px;
    padding-bottom: 41px;
    }
    .text-shape3 {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 12%;
    padding-right: 4%;
    padding-top: 64.5px;
    padding-bottom: 64.5px;
    }
    .text-shape4 {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 102px;
    padding-bottom: 102px;
    }
    .shape1 {
    height: 317.66px;
    background-color: #FF9900;
    width: 100%;
    border-radius: 15px;
    background-size: cover; 
    background-image: url(https://it4profit.com/share/common/image_1815.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    .shape2 {
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    }
    .shape3 {
    height: 219px;
    background-color: #FAFAFA;
    width: 100%;
    border-radius: 15px;
    background-size: 200px; 
    background-image: url(https://it4profit.com/share/common/image_1820.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    .shape4 {
    height: 317.66px;
    background-color: #FF9900;
    width: 100%;
    border-radius: 15px;
    background-size: cover; 
    background-image: url(https://it4profit.com/share/common/1309130060.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    }
    @media (min-width: 260px) and (max-width: 767px) {
    .pdmain {
    padding-bottom: 30px;
    }
    .fixh {
    height: 35px;
    }
    .t0p0 {
    padding-top: 0px; 
    padding-bottom: 0px;
    }
    .hidemob {
    display: none;
    }
    .cell20 {
    display: flex;
    width: 10%;
    margin-right: 5%;
    }
    .cell80 {
    display: flex;
    align-items:baseline;
    width: 80%;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    }
    .cell50 {
    display: flex;
    width: 35%;
    margin-right: 5%;
    flex-direction: column;
    }
    .rowfullfeat {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }
    .controw {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    }
    .controw2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 0px;
    }
    .controw3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    }
    .controw4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    }
    .cont25 {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-right: 10px;
    padding-bottom: 20px;
    }
    .cont50mod {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    }
    .cont50mod2 {
    display: flex;
    flex-direction: column;
    width: 280px;
    }
    .cont50 {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    }
    .cont30 {
    display: flex;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    }
    .cont70 {
    display: flex;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    }
    .cont30mod {
    display: flex;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    }
    .cont70mod {
    display: flex;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    }
    .cont50left {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    }
    .cont50acs {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    }
    .cont50comp {
    display: flex;
    width: 120px;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    }
    .cont50comphm {
    display: none;
    }
    .cont100 {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    }
    .tinytext {
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    }
    .textsm {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    }
    .textsmfeat {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    }
    .textsmfeat2 {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    }
    .smtitle {
    font-weight: 700;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 5px;
    }
    .logores {
    width: 90px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    }
    .icores {
    height: 40px;
    width: auto;
    padding-bottom: 15px;
    }
    .maintitle {
    font-size: 28px;
    font-weight: 700;
    line-height: 31px;
    padding-bottom: 25px;
    padding-top: 20px;
    }
    .bigtitle {
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 22px;
    }
    .btitlecomp {
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    }
    .textnorm {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    }
    .nf100 {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    }
    .maintext {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    padding-top: 30px;
    }
    .feature {
    width: 100%;
    background-color: #F5F5F7; 
    }
    .stripe {
    height: 10px;
    background-color: #F5F5F7; 
    }
    .pb50 {
    padding-bottom: 50px;
    }
    .pb15 {
    padding-bottom: 15px;
    }
    .ptpb {
        padding-top: 5px;
        padding-bottom: 20px;
    }
    .imgres {
        width: 75%;
        padding-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .line {
        height: 1px;
        background-color: #EEEEF0;
    }
    .icorescomp {
        width: 40%;
        padding-top: 25px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .icorescomppen {
        width: 40%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .legal {
    font-size: 11px;
    line-height: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    .dffw {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    }
    .pb30 {
    padding-bottom: 30px;
    }
    .pt40 {
    padding-top: 40px;
    }
    .bgf5f7 {
    background-color: #F5F5F7;
    }
    .bgfb {
    background-color: #FBFBFD;
    }
    .text-shape {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    padding-bottom: 45px;
    }
    .text-shape2 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 45px;
    }
    .text-shape3 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
    padding-bottom: 25px;
    }
    .text-shape4 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    padding-bottom: 45px;
    }
    .shape2 {
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    }
    .shape3 {
    height: 219px;
    background-color: #FAFAFA;
    width: 100%;
    border-radius: 20px;
    background-size: 200px; 
    background-image: url(https://it4profit.com/share/common/image_1820.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    .shape4 {
    height: 317.66px;
    background-color: #FF9900;
    width: 100%;
    border-radius: 20px;
    background-size: cover; 
    background-image: url(https://it4profit.com/share/common/1309130060.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    .pt15 {
    padding-top: 15px;
    }
    .pb45 {
    padding-bottom: 45px;
    }
    }
    @media (min-width: 1430px) and (max-width: 3840px) {
    .zoomie {
    zoom: 1.5;
        }
        }
    @media (min-width: 992px) and (max-width: 1429px) {
    .zoomie {
    zoom: 1.2;
        }
        }
    @media (min-width: 375px) and (max-width: 375px) {
    .zoomie {
    zoom: 1.2;
        }
        }
    
    
    </style>
    <div _ngcontent-qle-c234="" class="tab-content">
    <tab _ngcontent-qle-c245="" id="tab1" role="tabpanel" aria-labelledby="tab1-link" class="tab-pane active">
    <div _ngcontent-qle-c245="" class="pr-tab-content ng-tns-c245-39">
    <div _ngcontent-qle-c245="" class="row ng-tns-c245-39">
    <div _ngcontent-qle-c245="" class="col-12 ng-tns-c245-39">
    <div _ngcontent-qle-c245="" aprrunscripts="" class="product-about-description ng-tns-c245-39">
    <p></p>
    </div>
    <div _ngcontent-qle-c245="" class="product-technical-rules ng-tns-c245-39"><apr-block-html _ngcontent-qle-c245="" class="ng-tns-c245-39">
    <div>
    <p>Toate informațiile tehnice de pe site-ul nostru se bazează pe informații preluate numai din surse oficiale, inclusiv de pe site-urile oficiale ale producătorilor, a căror fiabilitate nu o punem la îndoială.</p>
    <p>Din păcate, chiar și documentele oficiale pot conține erori și greșeli de tipar, ceea ce înseamnă că nu putem garanta că toate informațiile despre produs sunt exacte și corecte. Aproape toți producătorii își rezervă dreptul de a modifica specificațiile produselor fără o notificare prealabilă.</p>
    <p>Vă sfătuim cu insistență să folosiți informațiile publicate ca o prezentare generală de bază a produsului și să solicitați comerciantului parametrii care sunt cei mai importanți pentru dumneavoastră atunci când faceți achiziția.</p>
    </div>
    </apr-block-html></div>
    <div _ngcontent-qle-c245="" class="product-vendor ng-tns-c245-39"></div>
    </div>
    </div>
    </div>
    </tab><tab _ngcontent-qle-c245="" id="tab2" role="tabpanel" aria-labelledby="tab2-link" class="tab-pane">
    <div _ngcontent-qle-c245="" class="pr-tab-content ng-tns-c245-39">
    <div _ngcontent-qle-c245="" class="row ng-tns-c245-39">
    <div _ngcontent-qle-c245="" class="col-12 ng-tns-c245-39">
    <div _ngcontent-qle-c245="" class="table-responsive ng-tns-c245-39">
    <table _ngcontent-qle-c245="" class="table table-bordered mb-0 ng-tns-c245-39 ng-star-inserted">
    <tbody>
    <tr _ngcontent-qle-c245="" class="table-active ng-tns-c245-39">
    <th _ngcontent-qle-c245="" colspan="2" class="ng-binding ng-scope ng-tns-c245-39">Design si Caractersitici</th>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Tipul de Produs</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">AirPods</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Model</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">AirPods (Gen 3) MagSafe+AirPods (Gen3)</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Tipul sistemului audio</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Headset</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Tehnologia de conectivitate</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Wireless</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Tehnologie wireless</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Bluetooth</td>
    </tr>
    </tbody>
    </table>
    <table _ngcontent-qle-c245="" class="table table-bordered mb-0 ng-tns-c245-39 ng-star-inserted">
    <tbody>
    <tr _ngcontent-qle-c245="" class="table-active ng-tns-c245-39">
    <th _ngcontent-qle-c245="" colspan="2" class="ng-binding ng-scope ng-tns-c245-39">Lesire audio</th>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Factorul de formă</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Ear-bud</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Tip de montare</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">In-Ear</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Modul de redare audio</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Stereo</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Tehnologia căștilor</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Dynamic</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Componente sistem</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">2 difuzoare</td>
    </tr>
    </tbody>
    </table>
    <table _ngcontent-qle-c245="" class="table table-bordered mb-0 ng-tns-c245-39 ng-star-inserted">
    <tbody>
    <tr _ngcontent-qle-c245="" class="table-active ng-tns-c245-39">
    <th _ngcontent-qle-c245="" colspan="2" class="ng-binding ng-scope ng-tns-c245-39">Microphone</th>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Factor de formă a microfonului</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Încorporate</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Caracteristicile microfonului</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Dual Beamforming Microphones</td>
    </tr>
    </tbody>
    </table>
    <div _ngcontent-qle-c245="" class="more-attrs ng-tns-c245-39 ng-trigger ng-trigger-item-collapse" style="height: 0px;">
    <table _ngcontent-qle-c245="" class="table table-bordered mb-0 ng-tns-c245-39 ng-star-inserted">
    <tbody>
    <tr _ngcontent-qle-c245="" class="table-active ng-tns-c245-39">
    <th _ngcontent-qle-c245="" colspan="2" class="ng-binding ng-scope ng-tns-c245-39">Specificații retea</th>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Tipul de rețea</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Bluetooth Adapter</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Factor de formă de rețea</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Integrat</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">În conformitate cu standardele de rețea</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Bluetooth 5.0</td>
    </tr>
    </tbody>
    </table>
    <table _ngcontent-qle-c245="" class="table table-bordered mb-0 ng-tns-c245-39 ng-star-inserted">
    <tbody>
    <tr _ngcontent-qle-c245="" class="table-active ng-tns-c245-39">
    <th _ngcontent-qle-c245="" colspan="2" class="ng-binding ng-scope ng-tns-c245-39">Putere</th>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Localizarea dispozitivului de alimentare</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Extern</td>
    </tr>
    </tbody>
    </table>
    <table _ngcontent-qle-c245="" class="table table-bordered mb-0 ng-tns-c245-39 ng-star-inserted">
    <tbody>
    <tr _ngcontent-qle-c245="" class="table-active ng-tns-c245-39">
    <th _ngcontent-qle-c245="" colspan="2" class="ng-binding ng-scope ng-tns-c245-39">Baterie</th>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Audio playback</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">
    <ul>
    <li>Max 6 h</li>
    </ul>
    </td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Talk</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">
    <ul>
    <li>Max 4 h</li>
    </ul>
    </td>
    </tr>
    </tbody>
    </table>
    <table _ngcontent-qle-c245="" class="table table-bordered mb-0 ng-tns-c245-39 ng-star-inserted">
    <tbody>
    <tr _ngcontent-qle-c245="" class="table-active ng-tns-c245-39">
    <th _ngcontent-qle-c245="" colspan="2" class="ng-binding ng-scope ng-tns-c245-39">Telecomanda</th>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Sisteme de control audio</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Play/Pause<br>Call answer/End<br>Skip Forward<br>Skip Back</td>
    </tr>
    </tbody>
    </table>
    <table _ngcontent-qle-c245="" class="table table-bordered mb-0 ng-tns-c245-39 ng-star-inserted">
    <tbody>
    <tr _ngcontent-qle-c245="" class="table-active ng-tns-c245-39">
    <th _ngcontent-qle-c245="" colspan="2" class="ng-binding ng-scope ng-tns-c245-39">Diverse</th>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Caracteristici</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Sweat-proof design<br>Motion-Detecting Accelerometer<br>Speech-Detecting Accelerometer<br>Qi Standard Support<br>Apple H1 Chip<br>Voice-enabled Siri Access<br>Adaptive EQ<br>Custom High-Excursion Apple Driver<br>Custom High Dynamic Range Amplifier<br>Inward-Facing Microphone<br>Force Sensor<br>Spatial Audio with Dynamic Head Tracking<br>Skin-Detect Sensor<br>Motion-Detecting Accelerometer</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Culoare externă</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Alb</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Culoare simplă</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Alb</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">În cutie</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">AirPods <br>Documentație <br>MagSafe Charging Case</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Cablu inclus</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Lightning to USB-C Cable</td>
    </tr>
    </tbody>
    </table>
    <table _ngcontent-qle-c245="" class="table table-bordered mb-0 ng-tns-c245-39 ng-star-inserted">
    <tbody>
    <tr _ngcontent-qle-c245="" class="table-active ng-tns-c245-39">
    <th _ngcontent-qle-c245="" colspan="2" class="ng-binding ng-scope ng-tns-c245-39">Asistent vocal</th>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Asistent vocal instalat</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Siri</td>
    </tr>
    </tbody>
    </table>
    <table _ngcontent-qle-c245="" class="table table-bordered mb-0 ng-tns-c245-39 ng-star-inserted">
    <tbody>
    <tr _ngcontent-qle-c245="" class="table-active ng-tns-c245-39">
    <th _ngcontent-qle-c245="" colspan="2" class="ng-binding ng-scope ng-tns-c245-39">Dimensiuni &amp; Greutate</th>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Inaltime</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">19.21 mm</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Latime</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">30.79 mm</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Greutate nominala</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">4.28 g</td>
    </tr>
    </tbody>
    </table>
    <table _ngcontent-qle-c245="" class="table table-bordered mb-0 ng-tns-c245-39 ng-star-inserted">
    <tbody>
    <tr _ngcontent-qle-c245="" class="table-active ng-tns-c245-39">
    <th _ngcontent-qle-c245="" colspan="2" class="ng-binding ng-scope ng-tns-c245-39">Garanție</th>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Produse returnabile aflate in garantie</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Da</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Termen garantie (luna)</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">12 luna(i)</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Criterii de validare a garantiei</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Număr de serie</td>
    </tr>
    </tbody>
    </table>
    <table _ngcontent-qle-c245="" class="table table-bordered mb-0 ng-tns-c245-39 ng-star-inserted">
    <tbody>
    <tr _ngcontent-qle-c245="" class="table-active ng-tns-c245-39">
    <th _ngcontent-qle-c245="" colspan="2" class="ng-binding ng-scope ng-tns-c245-39">Logistic</th>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Adancime pachet</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">99 mm</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Grosimea pachetului</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">99 mm</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Inaltime pachet</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">34 mm</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Greutatea bruta a pachetului</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">0.18 kg</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Bucati in pachet</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">1</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Adancimea cutiei</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">350 mm</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Latimea cutiei</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">230 mm</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Inaltimea cutiei</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">134 mm</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Greutatea bruta a cutiei</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">2.585 kg</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Pachete (colete) in cutie</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">10</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Tip pachet</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">Retail</td>
    </tr>
    <tr _ngcontent-qle-c245="" class="ng-tns-c245-39 ng-star-inserted">
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">EAN Code</td>
    <td _ngcontent-qle-c245="" style="width: 50%;" class="ng-tns-c245-39">194252818466</td>
    </tr>
    </tbody>
    </table>
    </div>
    <button _ngcontent-qle-c245="" class="btn btn-show-more ng-tns-c245-39"> Afișează în întregime <span _ngcontent-qle-c245="" class="chevron-icon ng-tns-c245-39 down">›</span></button>
    </div>
    <button _ngcontent-qle-c245="" class="btn btn-back-to-top ng-tns-c245-39"> în sus <span _ngcontent-qle-c245="" class="chevron-icon up ng-tns-c245-39">›</span></button>
    </div>
    </div>
    </div>
    </tab>
    </div>