<div _ngcontent-tmf-c248="" class="pr-tab-content ng-tns-c248-38">
    <div _ngcontent-tmf-c248="" class="pr-tab-content ng-tns-c248-38">
    <div _ngcontent-tmf-c248="" class="row ng-tns-c248-38">
    <div _ngcontent-tmf-c248="" class="col-12 ng-tns-c248-38">
    <div _ngcontent-tmf-c248="" aprrunscripts="" class="product-about-description ng-tns-c248-38">
    <div class="bigone">
    <div class="mainblck">
    <div>
    <img style="align-self: flex-end; padding: 20px;" src="https://it4profit.com/share/common/RX-Apple_iPhone_11_Logo_blk_052319.png" alt="" width="235px"><br>
     <div class="headgr">Exact cantitatea potrivită de orice</div>
    <br> </div>
    <div class="graytext">Sistem nou de cameră duală. Cea mai rezistentă sticlă dintr-un smartphone.<br> </div>
    <img style="align-self: flex-end;" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/RX-iPhone-Prpl-PB-Rosette_00-0036-595_v1_OT_s_2k-l.jpg?v=1729689895" alt="" width="70%" vspace="50px" class="border">
    </div>
    <div style="background-color: #fafafa;">
    <div class="graytext">
    <div class="headgrsm">Design</div>
    <div class="headgr">Să aveți o zi frumoasă.</div>
    Șase noi culori uimitoare. Superb ecran Liquid Retina LCD de 6,1 inchi.² Rezistent la apă până la 2 metri timp de 30 de minute.<br> </div>
    <img style="align-self: flex-end; padding-top: 30px;" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/RX-S2_Smart_1.jpg?v=1729689894" alt="" width="90%" hspace="5%" class="border">
    </div>
    <div style="background-color: #fafafa;">
    <div class="graytext">
    <div class="headgrsm">Camera</div>
    <div class="headgr">Fotografiile mai departe.<br>Și mai larg.</div>
    <br> </div>
    <img src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/RX-S2_Caption_2en.jpg?v=1729689895" alt="" style="align-self: flex-end;" width="90%" hspace="5%" class="border">
    </div>
    <div class="rowcontnb">
    <div class="halfcontng" style="padding-top: 4%;">
    <div class="picico"><img src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/RX-Ultra_wide_icon_3423e283-c7cb-43a6-957e-5466837b1093.png?v=1729700436" alt="" width="45px"></div>
    <div class="graytext2">
    <b>Ultra larg (13mm).</b> Câmp vizual de 120° pentru de patru  ori mai multe scene. </div>
    </div>
    <div class="halfcontng" style="padding-top: 4%;">
    <div class="picico"><img src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/RX-Wide_icon_ee392258-24b9-4519-9b58-c222b805db86.png?v=1729700465" alt="" width="45px"></div>
    <div class="graytext2">
    <b>Mare (26mm).</b>  Pixeli de focalizare 100% pentru o autofocalizare de până la trei ori mai rapidă în condiții de lumină slabă.</div>
    </div>
    </div>
    <div class="rowcontnb">
    <div class="halfcontng">
    <div class="graytext3">
    <div class="headgrsm">Camera</div>
    <div class="headgr">Dă un nou impuls<br>videoclipului tău.</div>
    </div>
    </div>
    <div class="halfcontng">
    <div class="graytext3 need-hide">
    <div class="headgrsm">Night mode</div>
    <div class="headgr">Noaptea<br> într-o lumină nouă.</div>
    </div>
    </div>
    </div>
    <div class="rowcont">
    <div class="halfcontng">
    <div class="graytext3">
    <div><img style="align-self: flex-end;" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/RX-IMG.jpg?v=1729689895" alt="" width="100%" class="border"></div>
    <br><br>Filmare 4K la 60 fps pe fiecare cameră. Cameră Ultra Wide pentru de patru ori mai multe scene. Rotiți, decupați și adăugați filtre la fel de ușor cum faceți cu fotografiile.<br> </div>
    </div>
    <div class="halfcontng">
    <div class="graytext3 need-hide2">
    <div class="headgrsm">Night mode</div>
    <div class="headgr">Night, in a<br>new light.</div>
    </div>
    <div class="graytext3">
    <div><img style="align-self: flex-end;" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/RX-S3_Caption_4-700x933en.jpg?v=1729689894" alt="" width="100%" class="border"></div>
    <br><br>De la aniversări luminate de lumânări la focuri de tabără pe plajă, noul mod Noapte oferă fotografii naturale în condiții de lumină scăzută - automat.<br> </div>
    </div>
    </div>
    <div class="rowcont">
    <div class="halfcontng">
    <div class="graytext3" style="align-self: center;">
    <div class="headgrsm">Battery + chip</div>
    <div class="headgr">Treceți ziua<br>cu putere.</div>
    Autonomie a bateriei pe tot parcursul zilei.¹ A13 Bionic, cel mai rapid cip dintr-un smartphone. Capacitate de încărcare rapidă cu un adaptor de 18W (vândut separat). <br> </div>
    <img alt="" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/RX-S4_Smart_1.jpg?v=1729689895" style="align-self: flex-end;" class="need-hide2 border" width="100%">
    </div>
    <div class="halfcontng padimg2"><img class="need-hide border" style="align-self: flex-end;" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/RX-S4_Smart_1_66febbf3-9f71-4a36-b147-f0714c621210.jpg?v=1729858534" alt="" width="100%"></div>
    </div>
    <div class="rowcont">
    <div class="halfcontng padimg"><img class="need-hide border" style="align-self: flex-end;" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/RX-S5_Smart_1.jpg?v=1729689894" alt="" width="100%"></div>
    <div class="halfcontng">
    <div class="graytext3" style="align-self: center;">
    <div class="headgrsm">Privacy</div>
    <div class="headgr">Confidențialitatea încorporată.</div>
    Face ID este cea mai sigură autentificare facială de pe un smartphone. Nu stochează sau partajează fotografia dvs. Și este mai sigură decât Touch ID.</div>
    <div class="padimg"><img class="need-hide2 border" style="align-self: flex-end;" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/RX-S5_Smart_1_ac51539c-f41d-4b44-94de-8e864f0ed783.jpg?v=1729858783" alt="" width="100%"></div>
    </div>
    </div>
    </div>
    <p></p>
    </div>
    </div>
    </div>
    </div>
    </div>
    <style type="text/css">
      .border{
        border-radius:50px;
      }
       @media screen and (max-width:780px){
          .border{
        border-radius:20px;
      }
       }
    @media (min-width: 290px) and (max-width: 767px) {
    
    .padimg {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    }
    .padimg2 {
    padding-left: 3%;
    padding-top: 5%;
    }
       .need-hide{
           display: none;
       }
    .bigone {
    width: 100%;
    padding-top: 2%;
    background-color: #FFFFFF;
    }
    .rowcontnf {
        padding-bottom: 2%;
       }
    .rowcont {
          display: inline-block;
        padding-bottom: 2%;
       }
    .rowcontnb {
    dinsplay: inline-block;
       }
    
    .halfcontl {
    width: 100%;
    background-color: #FAFAFA;
    
    
    }
    .halfcontr {
    width: 100%;
    background-color: #FAFAFA;
    }
    
    .halfcontng {
    width: 100%;
    background-color: #FAFAFA;
    }
    .graytext {
    width: 100%;
    color: #111111;
    font-size: 18px;
    padding-left: 3%;
    padding-right: 3%;
    }
    .graytext2 {
    width: 100%;
    color: #111111;
    font-size: 18px;
    padding-left: 3%;
    padding-right: 3%;
    }
    .graytext3 {
    width: 100%;
    color: #111111;
    font-size: 18px;
    padding-left: 3%;
    padding-right: 3%;
    }
    .picico {
    width: 25%;
    padding-left: 3%;
    padding-bottom: 3%;
    }
    .headgr {
    padding-top: 2%;
    padding-bottom: 4%;
    font-size: 7vw;
    color: white;
    font-weight: bold;
    line-height: 1.2em;
    }
    .headgrsm {
    padding-top: 8%;
    font-size: 3.5vw;
    color: #666666;
    font-weight: bold;
    line-height: 1.1em;
    font-weight: bold;
    }
    .mainimg {
    width: 80%; 
    padding-top: 10%;
    padding-bottom: 10%;
    }
    .mainblck {
    text-align: center;
    }
    }
    
    @media (min-width: 768px) and (max-width: 3840px) {
       .need-hide2{
           display: none;
       }
    .bigone {
    width: 90%;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    }
    .rowcontnf {
        padding-bottom: 2%;
       }
    .rowcont {
          display: flex;
        flex-wrap: wrap;
        padding-bottom: 3%;
       }
    .rowcontnb {
          display: flex;
        flex-wrap: wrap;
       }
    
    .halfcontl {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    background-color: #FAFAFA;
    margin-right: 1%;
    
    
    }
    .halfcontr {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    background-color: #FAFAFA;
    margin-left: 1%;
    
    }
    .halfcontng {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    background-color: #FAFAFA;
    }
    .graytext {
    width: 80%;
    color: #111111;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    }
    .graytext2 {
    width: 80%;
    color: #111111;
    font-size: 18px;
    padding-left: 5%;
    padding-right: 10%;
    }
    .graytext3 {
    width: 100%;
    color: #111111;
    font-size: 18px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    }
    .picico {
    width: 20%;
    padding-left: 10%;
    }
    
    }
      .headgr {
    padding-top: 2%;
    padding-bottom: 4%;
    font-size: 2.8vw;
    font-weight: bold;
    line-height: 1.2em;
      color:black;
    }
      @media screen and (max-width:780px){
    .headgr {
    padding-top: 2%;
    padding-bottom: 4%;
    font-weight: bold;
    line-height: 1.2em;
      color:black;
      font-size: 3rem;
    }
      }
       
    .headgrsm {
    padding-top: 8%;
    font-size: 1.4vw;
    color: #666666;
    font-weight: bold;
    line-height: 1.1em;
    font-weight: bold;
    }
      @media screen and (max-width:780px){
    .headgrsm {
    padding-top: 8%;
    font-size:2rem !important;
    color: #666666;
    font-weight: bold;
    line-height: 1.1em;
    font-weight: bold;
    }
    
    .mainimg {
    width: 40%; 
    padding-top: 10%;
    padding-bottom: 10%;
    }
    .mainblck {
    text-align: center;
    }
    .padimg {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    }
    .padimg2 {
    padding-left: 5%;
    padding-top: 5%;
    }
}
      
    </style>