<div _ngcontent-svc-c248="" aprrunscripts="" class="product-about-description ng-tns-c248-38">
    <div _ngcontent-svc-c248="" aprrunscripts="" class="product-about-description ng-tns-c248-38">
    <div style="max-width: 100%;">
    <div class="block-centr" style="background-color: #fafafa;">
    <div class="col-sm-45"><img alt="iPhone 12" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/main1.jpg?v=1729868111" width="90%" class="need-hide"></div>
    <div class="col-sm-55-text">
    <div style="padding-top: 5%; padding-bottom: 10%; width: 100%;">
    <p class="middle" style="padding-bottom: 15px;"><img src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/12_logo.png?v=1729868978" width="150px" alt="iPhone 12"></p>
    <h3 class="middle"><span class="bigh3_main color" style="font-weight: bold; line-height: 1.1em;">Viteza prinde <br>viteză.</span></h3>
    <img class="need-hide2" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/main1.jpg?v=1729868111" width="100%" alt="iPhone 12">
    <div class="need-hide">
    <p class="block-p_main color"><br>A14 Bionic, cel mai rapid cip de smartphone.<br>Un ecran OLED care se întinde de la o margine<br>la alta. Și mod Noapte pe fiecare cameră.</p>
    </div>
    <div class="need-hide2">
    <p class="block-p_main color" style="text-align: center;"><br>A14 Bionic, cel mai rapid cip de smartphone.Un ecran OLED care se întinde de la o margine la alta. Și mod Noapte pe fiecare cameră.</p>
    </div>
    </div>
    </div>
    
    </div>
    <div style="width: 100%; height: 25px;"> </div>
    <div class="block-centr" style="background-color: #fbf6f1;">
    <div class="col-sm-45-text">
    <div style="padding-top: 15%; padding-bottom: 10%; width: 100%;">
    <h3>
    <span class="mobile-ul " style="color: #86868b; font-weight: bolder;">Design și ecran </span><br><span class="bigh3 color" style="font-weight: bold; line-height: 1.1em; color:black;">Frumusețe <br>la-ndemână. </span>
    </h3>
    <div class="need-hide">
    <p class="block-p color">Cel mai bun ecran de iPhone, cu un <br>contrast incredibil și rezoluție mai înaltă. <br>Cu Ceramic Shield, care e de patru ori <br>mai rezistentă la cădere.<br> </p>
    <div class="need-hide">
    <div style="display: table-row; width: 100%;">
    <div style="display: table-cell; width: 10%; vertical-align: center;"><img src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/dispico.png?v=1729869016" width="100%" alt="Экран"></div>
    <div style="display: table-cell; width: 85%; vertical-align: top;">
    <p class="color" style="font-weight: bolder; font-size: 18px;"><b>Super Retina XDR</b><br>Același ecran ca iPhone 12 Pro</p>
    </div>
    </div>
    </div>
    </div>
    <div class="need-hide2">
    <p class="block-p color">Cel mai bun ecran de iPhone, cu un contrast incredibil și rezoluție mai înaltă. Cu Ceramic Shield, care e de patru ori mai rezistentă la cădere.</p>
    </div>
    </div>
    </div>
    <div class="col-sm-55"><img class="need-hide" style="align-self: flex-end;" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/iPhone12_banner1.png?v=1729868144" width="100%" alt="Дизайн и дисплей"></div>
    
    </div>
    <img class="need-hide2" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/iph12_mob2.ro.jpg?v=1729868699" width="100%">
    <div style="width: 100%; height: 25px;"> </div>
    <div class="block-centr" style="background-color: #f5f5f7;">
    <div class="col-sm-45"><img alt="Беспроводная связь" width="100%" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/iPhone12_banner2fix.png?v=1729868387" style="align-self: flex-end; align: right;" class="need-hide"></div>
    <div class="col-sm-55-text">
    <div style="padding-top: 10%; padding-bottom: 10%; width: 100%;">
    <h3>
    <span class="mobile-ul color" style="color: #86868b; font-weight: bolder;">Conexiuni wireless </span><br><span class="bigh3 color" style="font-weight: bold; line-height: 1.1em; color:black;">Să prindă viteză. </span>
    </h3>
    <div class="need-hide">
    <p class="block-p color">Viteză LTE de până la 2 Gbps. Descarcă emisiuni, <br>încarcă poze și fă streaming la video de înaltă calitate <br>mai rapid. Totul în și mai multe locuri, fiindcă ai mai <br>multe benzi LTE decât pe orice alt smartphone.</p>
    </div>
    <div class="need-hide2">
    <p class="block-p color">Viteză LTE de până la 2 Gbps. Descarcă emisiuni, încarcă poze și fă streaming la video de înaltă calitate mai rapid. Totul în și mai multe locuri, fiindcă ai mai multe benzi LTE decât pe orice alt smartphone.</p>
    </div>
    </div>
    </div>
    
    </div>
    <img class="need-hide2" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/iph12_mob3.jpg?v=1729868795" width="100%" alt="Беспроводная связь">
    <div style="width: 100%; height: 25px;"> </div>
    <div class="block-centr" style="background-color: #e7f4e0;">
    <div class="col-sm-45-text">
    <div style="padding-top: 10%; padding-bottom: 10%; width: 100%;">
    <h3>
    <span class="mobile-ul" style="color: #86868b; font-weight: bolder;">A14 Bionic </span><br><span class="bigh3 color" style="font-weight: bold; line-height: 1.1em; color:black;">Un cip care<br>revoluționează<br>posibilul.</span>
    </h3>
    <div class="need-hide">
    <p class="block-p color">A14 Bionic este cel mai rapid cip de<br>smartphone. Având Neural Engine cu 16<br>nuclee, procesează trilioane de operații pe<br>secundă. Și este ultraeficient, pentru <br>o autonomie excelentă a bateriei.</p>
    <div class="need-hide">
    <div style="display: table-row; width: 100%;">
    <div style="display: table-cell; width: 11%; vertical-align: middle;"><img src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/bionicico.png?v=1729868872" width="100%" alt="Продуктивність"></div>
    <div style="display: table-cell; width: 85%; vertical-align: bottom;">
    <p style="font-weight: bolder; font-size: 18px; padding-left: 5px; padding-top: 5px; color:black;"><b>A14 Bionic</b><br>Același cip ca iPhone 12 Pro</p>
    </div>
    </div>
    </div>
    </div>
    <div class="need-hide2">
    <p class="block-p">A14 Bionic este cel mai rapid cip de smartphone. Având Neural Engine cu 16 nuclee, procesează trilioane de operații pe secundă. Și este ultraeficient, pentru o autonomie excelentă a bateriei.&gt;</p>
    </div>
    </div>
    </div>
    <div class="col-sm-55">
    <img class="need-hide " src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/iPhone12_banner3.png?v=1729868366" width="100%" align="right"> <img class="need-hide2" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/iph12_mob4ro.jpg?v=1729868943" width="100%" alt="A14 Bionic">
    </div>
    
    </div>
    <div style="width: 100%; height: 25px;"> </div>
    <div class="block-centr" style="background-color: #f5f5f7;">
    <div class="col-sm-45"><img class="need-hide" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/iPhone12_banner4ixro_1.jpg?v=1729869240" width="100%" alt="Система двух камер"></div>
    <div class="col-sm-55-text">
    <div style="padding-top: 10%; padding-bottom: 10%; width: 100%;">
    <h3>
    <span class="mobile-ul" style="color: #86868b; font-weight: bolder;">Sistem de camere duale </span><br><span class="bigh3" style="font-weight: bold; line-height: 1.1em; color:black;">Lumina slabă e<br>acum punctul tău<br>forte.</span>
    </h3>
    <p class="block-p">Datorită modului Noapte pe toate camerele,<br class="need-hide">fotografiile făcute cu lumină puțină sunt<br class="need-hide">incredibil de detaliate. Chiar și selfie-urile.</p>
    <img class="need-hide2" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/iPhone12_banner4ixromb.jpg?v=1729869346" width="100%">
    <p class="block-p"><br><b>Complet nou pe iPhone 12 </b></p>
    <hr style="color: #bcbcbf; background-color: #bcbcbf; height: 1px; margin-top: -5px; width: 70%; margin-left: 0; text-align: left;">
    <div class="need-hide">
    <div style="display: table-row; width: 100%;">
    <div style="display: table-cell; width: 15%; vertical-align: middle;"><img src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/camico1.png?v=1729869385" width="100%" alt="Сверхширокоугольная камера"></div>
    <div style="display: table-cell; width: 85%; vertical-align: middle; color:black;">
      <p style="font-weight: bolder; font-size: 18px; vertical-align: top; padding-top: 6px; color:black "><b>Camera cu obiectiv ultra larg</b><br>larg face acum poze în mod Noapte</p>
    
    </div>
    </div>
    <div style="display: table-row; width: 100%;">
    <div style="display: table-cell; width: 15%; vertical-align: middle;"><img src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/camico2.png?v=1729869424" width="100%" alt="Широкоугольная камера"></div>
    <div style="display: table-cell; width: 85%; vertical-align: middle;">
    <p style="font-weight: bolder; font-size: 18px; vertical-align: top; padding-top: 6px; color:black;"><b>Camera cu obiectiv larg</b><br>captează acum cu 27% mai multă lumină.</p>
    </div>
    </div>
    </div>
    <div class="need-hide2">
    <div style="display: table-row; width: 100%;">
    <div style="display: table-cell; width: 25%; vertical-align: middle;"><img src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/camico1.png?v=1729869385" width="100%" alt="Сверхширокоугольная камера"></div>
    <div style="display: table-cell; width: 75%; vertical-align: middle;">
    <p style="font-weight: normal; font-size: 18px; padding-top: 6px;color:black;"><b>Camera cu obiectiv ultra larg</b> larg face acum poze în mod Noapte</p>
    </div>
    </div>
    <div style="display: table-row; width: 100%;">
    <div style="display: table-cell; width: 25%; vertical-align: middle;"><img src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/camico2.png?v=1729869424" width="100%" alt="Широкоугольная камера"></div>
    <div style="display: table-cell; width: 75%; vertical-align: middle;">
    <p class="color" style="font-weight: normal; font-size: 18px; vertical-align: top; padding-top: 6px; color:black;"><b>Camera cu obiectiv larg</b> captează acum cu 27% mai multă lumină.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    <div style="width: 100%; height: 25px;"> </div>
    <div class="block-centr" style="background-color: #c9e2ef;">
    <div class="col-sm-45-text">
    <div style="padding-top: 15%; padding-bottom: 10%; width: 100%;">
    <h3>
    <span class="mobile-ul" style="color: #86868b; font-weight: bolder;">Video</span><br><span class="bigh3" style="font-weight: bold; line-height: 1.1em; color:black;">Lumină scăzută.<br>Cameră. Acțiune. </span>
    </h3>
    <div class="need-hide">
    <p class="block-p">iPhone 12 îți permite să înregistrezi, să editezi și să redai videoclipuri Dolby Vision. Folosește AirPlay pentru a face streaming pe televizorul tău smart. <sup>◊</sup><br> </p>
    </div>
    <div class="need-hide2">
    <p class="block-p">iPhone 12 îți permite să înregistrezi, să editezi și să redai videoclipuri Dolby Vision. Folosește AirPlay pentru a face streaming pe televizorul tău smart.</p>
    </div>
    <img class="need-hide2" style="margin-left: -5.5%;" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/iph12_mob6fixro.jpg?v=1729869508" width="100%">
    <div class="need-hide">
    <div style="display: table-row; width: 100%;">
    <div style="display: table-cell; width: 10%; vertical-align: center;"><img src="https://it4profit.com/share/common/vidico1.png" width="100%" alt="Ночной режим"></div>
    <div style="display: table-cell; width: 85%; vertical-align: top;">
    <p style="font-weight: bolder; font-size: 18px; padding-left: 5px;color:black;">Înregistrările video <b>time-lapse în mod Noapte</b> captează urmele de lumină și de mișcare atunci când folosești un trepied</p>
    </div>
    </div>
    <div style="display: table-row; width: 100%;">
    <div style="display: table-cell; width: 10%; vertical-align: center;"><img src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/vidico2.png?v=1729869547" width="100%" alt="10-битный формат"></div>
    <div style="display: table-cell; width: 85%; vertical-align: top;">
    <p style="font-weight: bolder; font-size: 18px; padding-left: 5px;color:black;">Înregistrarea video HDR pe 10 biți oferă de 60 de ori mai multe culori decât un video pe 8 biți</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-sm-55"><img class="need-hide" src="https://cdn.shopify.com/s/files/1/0722/6533/5005/files/iPhone12_banner5_1.png?v=1729869588" width="100%" alt="Видео"></div>
    
    </div>
    <p></p>
    </div>
    </div>
    </div>
    <style type="text/css">@media (min-width: 290px) and (max-width: 991px) {
       .need-hide{
           display: none;
       }
    .col-sm-45 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-sm-45-text {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .col-sm-55 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-sm-55-text {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .col-sm-50 {
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }
    .col-sm-50-text {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .block-p {
          font-size: 20px;
        font-weight: normal;
      color:black;
       }
    .mobile-ul {
          font-size: 20px;
       }
    .col-sm-12 {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .col-xs-12 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .block-p_main {
          font-size: 23px;
        font-weight: normal;
      color:black;
       }
    .bigh3_main {
           font-size: 40px;
      color:black;
    }
    .middle {
           text-align: center;
    }
    
    }
    
    @media (min-width: 992px) and (max-width: 3840px) {
      .col-sm-45-text {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 6%;
        padding-right: 0px;
    }
      .col-sm-45 {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 5%;
        padding-right: 1%;
    }
      .col-sm-50 {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }
      .col-sm-50-text {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 6%;
        padding-right: 0%;
    }
    .col-sm-55 {
        width: 55%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-sm-55-text {
        width: 55%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 1%;
        padding-right: 1%;
    }
     .need-hide2{
           display: none;
       }
       .bigh3{
           font-size: 43px;
         color:black;
       }
       .bigh3_main{
           font-size: 56px;
         color:black;
       }
    .block-p {
          font-size: 18px;
        font-weight: normal;
      color:black;
       }
    .block-p_main {
          font-size: 23px;
        font-weight: normal;
    .mobile-ul {
          font-size: 20px;
       }
    .col-sm-6 {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    }
    .block-centr {
          display: flex;
      
       }
      .color{
        color:black;
      }
    }
    </style>