<div _ngcontent-txa-c248="" class="pr-tab-content ng-tns-c248-38">
    <div _ngcontent-txa-c248="" class="pr-tab-content ng-tns-c248-38">
    <div _ngcontent-txa-c248="" class="row ng-tns-c248-38">
    <div _ngcontent-txa-c248="" class="col-12 ng-tns-c248-38">
    <div _ngcontent-txa-c248="" aprrunscripts="" class="product-about-description ng-tns-c248-38">
    <div class="bg1">
    <div class="row60 tac" style="padding-bottom: 0px; color: #fec2eb;">
    <div><img style="padding-bottom: 30px;" alt="" src="https://it4profit.com/share/common/S1_Logo_f5f5f7_1.png" width="130px"></div>
    <div class="maintitle">Noua ta superputere.</div>
    <div class="textreg">Ecran superstrălucitor într-un design rezistent. Filmări demne de Hollywood, mai ușor de realizat ca niciodată. Cip uluitor de rapid. Creștere consistentă a autonomiei bateriei, pe care o vei remarca zi de zi.</div>
    <div><img alt="" src="https://it4profit.com/share/common/210923/RX-S1_Smart_1.jpg" style="padding-top: 15%;" width="100%"></div>
    </div>
    </div>
    <div style="background-color: #f5f5f7;">
    <div class="row60">
    <div class="rowfull">
    <div class="cont50" style="align-self: flex-end;">
    <div>
    <div class="smtitle">Ecran și design</div>
    <div class="btitle">Superstrălucitor.<br>Supercolorat<br>Superprecis.</div>
    </div>
    </div>
    <div class="cont50" style="align-self: flex-end;">
    <div>
    <div class="textreg">Un afișaj OLED cu culori mai vii, care este, în același timp, mai ușor de văzut în lumina soarelui și mai eficient din punct de vedere energetic. Cu un design durabil, care este rezistent la apă și praf.◊ <sup>◊</sup>
    </div>
    </div>
    </div>
    </div>
    <div class="hidemob"><img alt="" src="https://it4profit.com/share/common/230323/13_iphone.jpg" width="100%"></div>
    <div class="hidedesk"><img alt="" src="https://it4profit.com/share/common/230323/13_iphone.jpg" width="100%"></div>
    </div>
    </div>
    <div class="dbg">
    <div class="rowfull">
    <div class="cont50iml backim1">
    <div class="ml2"><img class="hidemob" style="align-self: center;" alt="" src="https://it4profit.com/share/common/emp500.png" width="100%"></div>
    </div>
    <div class="cont50">
    <div class="mr">
    <div class="smtitle">Modul Cinematic</div>
    <div class="btitle">iPhone a studiat cinematografia. Pentru a nu fi nevoie să o faci tu.</div>
    <div class="textreg">Creează în mod automat efecte de adâncime și tranziții ale focalizării în clipurile video. Treci la un nou nivel cu arta povestirii în scenele pe care le fimezi.</div>
    <div class="rowfull dffw">
    <div class="cell20"><img style="align-self: center;" alt="" src="https://it4profit.com/share/common/210923/S3_Icon_f5f5f7_1.png" width="100%"></div>
    <div class="cell80">Modul Cinematic este disponibol și pentru camera frontală TrueDepth</div>
    </div>
    </div>
    </div>
    <div class="backim1mob"> </div>
    </div>
    <div class="rowfull">
    <div class="cont50">
    <div class="ml">
    <div class="smtitle">Sistem cu două camere</div>
    <div class="btitle">Camere exterm de avansate. Poze cu adevărat superbe.</div>
    <div class="textreg">Un upgrade ușiaș pentru poze și filmări mai bune. Mai multă lumină captată cu obiectivul superangular. Stabilizare optică a imaginii prin deplasarea senzorului. Mai multe detalii în zonele întunecate ale fotografiilor realizate cu obiectivul ultra-superangular.</div>
    <div class="rowfull dffw">
    <div class="cell20"><img style="align-self: center;" alt="" src="https://it4profit.com/share/common/S4_Icon_f5f5f7_1.png" width="100%"></div>
    <div class="cell80">Un nou design pe diagonală permite un obiectiv superangular și un senzor de dimensiuni mai mari</div>
    </div>
    </div>
    </div>
    <div class="cont50">
    <div class="mr"><img style="align-self: center;" alt="" src="https://it4profit.com/share/common/210922/RX-S4_Smart_1.jpg" width="100%"></div>
    </div>
    </div>
    </div>
    <div class="wbg backim2">
    <div class="rowfull">
    <div class="cont50">
    <div class="ml">
    <div class="smtitle">
    <br>Baterie</div>
    <div class="btitle">Ridică ștacheta în privința autonomiei bateriei.</div>
    <div class="textreg">Creștere consistentă a autonomiei bateriei, pe care o vei remarca zi de zi. Adică mai mult timp pentru a viziona, a te juca și, în general, de a face mai multe lucruri care îți plac. Chiar și pe iPhone 13 mini.</div>
    <div class="rowfull dffw">
    <div class="cell20"><img style="align-self: center;" alt="" src="https://it4profit.com/share/common/S5_Icon_0d3139_1.png" width="100%"></div>
    <div class="cell80">
    <div>Până la 19 ore de redare video cu o singură încărcare<sup>◊</sup>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="filler hidemob"> </div>
    <div class="backim2mob">
    <div class="rowfull ">
    <div class="filler hidedesk"> </div>
    <div class="cont50iml">
    <div class="ml"><img alt="" src="https://it4profit.com/share/common/emp500.png" width="100%" class="hidemob"></div>
    </div>
    <div class="cont50">
    <div class="mr">
    <div class="smtitle">A15 Bionic</div>
    <div class="btitle">Cipul care crește viteza. Perfecționează camera. Optimizează consumul.</div>
    <div class="textreg">A15 Bionic face posibile rularea jocurilor intense din punct de vedere grafic și noile funcționalități ale camerei, precum modul Cinematic și Stiluri fotografice. În plus, este mai eficient, permițând utilizarea mai îndelungată a dispozitivului.</div>
    <div class="rowfull dffw">
    <div class="cell20"><img style="align-self: center;" alt="" src="https://it4profit.com/share/common/S6_Icon_162238_1.png" width="100%"></div>
    <div class="cell80">Performanță superioară azi <br>și capacități puternice pentru anii următori</div>
    </div>
    </div>
    </div>
    </div>
    <div class="filler hidemob"> </div>
    </div>
    <div class="backim3mob"> </div>
    <div class="bel">
    <div class="row65">
    <div style="background-color: white;">
    <div class="whtmrg">
    <div class="rowfull2">
    <div class="cont50">
    <div class="smtitle">Почему iPhone</div>
    <div class="btitle">Nimic nu se compară cu iPhone.</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="comp">
    <div class="row65" style="padding-top: 0px;">
    <div style="background-color: white;">
    <div class="whtmrg">
    <div class="rowfull2">
    <div class="cont25">
    <div><img class="icores" style="align-self: center;" alt="" src="https://it4profit.com/share/common/210923/S8_Icon_1d1d1f_1.png"></div>
    <div class="textsm"><span style="font-weight: 800;">Performanță inteligentă </span></div>
    <div class="textsm"><span style="color: #7a7a7f;">Cip conceput de Apple pentru viteză, eficiență energetică și inteligență în tot ce faci. </span></div>
    </div>
    <div class="cont25">
    <div><img class="icores" style="align-self: center;" alt="" src="https://it4profit.com/share/common/210923/S8_Icon_1d1d1f_2.png"></div>
    <div class="textsm"><span style="font-weight: 800;">Îți protejează intimitatea </span></div>
    <div class="textsm"><span style="color: #7a7a7f;">Fiecare detaliu este conceput pentru a-ți păstra informațiile confidențiale și în siguranță. </span></div>
    </div>
    <div class="cont25">
    <div><img class="icores" style="align-self: center;" alt="" src="https://it4profit.com/share/common/210923/S8_Icon_1d1d1f_3.png"></div>
    <div class="textsm"><span style="font-weight: 800;">Este durabil și își păstrează valoarea </span></div>
    <div class="textsm"><span style="color: #7a7a7f;">iPhone este construit pentru utilizare îndelungată și își păstrează valoarea mai mult timp decât alte smartphone-uri. </span></div>
    </div>
    <div class="cont25">
    <div><img class="icores" style="align-self: center;" alt="" src="https://it4profit.com/share/common/S8_Icon_1d1d1f_4.png"></div>
    <div class="textsm"><span style="font-weight: 800;">Sustenabilitate</span></div>
    <div class="textsm"><span style="color: #7a7a7f;">iPhone este proiectat cu atențe maxiumă pentru mediu, utilizând materiale reciclate. </span></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="line2 hidedesk"> </div>
    <div class="comp">
    <div class="row65" style="padding-top: 0px;">
    <div style="background-color: white;">
    <div class="whtmrg">
    <div class="rowfull">
    <div class="cont50">
    <div class="smtitle">Comparați</div>
    <div class="btitle">Ce iPhone ți se potrivește?</div>
    </div>
    </div>
    </div>
    <div class="row60comp tac">
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="smtitle">iPhone 13</div>
    <div class="ptpb">
    <div class="line"> </div>
    </div>
    </div>
    <div class="cont50comp">
    <div class="smtitle">iPhone 13 Pro</div>
    <div class="ptpb">
    <div class="line"> </div>
    </div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="imgres"><img width="100%" alt="" src="https://it4profit.com/share/common/210927/RX-S9_1_Smart_1.jpg"></div>
    <div class="ptpb">
    <div class="line"> </div>
    </div>
    </div>
    <div class="cont50comp">
    <div class="imgres"><img width="100%" alt="" src="https://it4profit.com/share/common/210927/RX-S9_2_Smart_1.jpg"></div>
    <div class="ptpb">
    <div class="line"> </div>
    </div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="btitlecomp">6,1" sau 5,4"</div>
    </div>
    <div class="cont50comp">
    <div class="btitlecomp">6,1" sau 6,7"</div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>Ecran Super Retina XDR◊ <sup>◊</sup></b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>Ecran Super Retina XDR cu ProMotion◊ <sup>◊</sup></b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="icorescomp"><img width="100%" alt="" src="https://it4profit.com/share/common/S9_1_Icon_1d1d1f_1.png"></div>
    <div class="textsm"><b>Compatibilitate 5G <sup>◊</sup></b></div>
    </div>
    <div class="cont50comp">
    <div class="icorescomp"><img width="100%" alt="" src="https://it4profit.com/share/common/S9_1_Icon_1d1d1f_1.png"></div>
    <div class="textsm"><b>Compatibilitate 5G <sup>◊</sup></b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="icorescomp"><img width="100%" alt="" src="https://it4profit.com/share/common/210927/S9_1_Icon_1d1d1f_2.png"></div>
    </div>
    <div class="cont50comp">
    <div class="icorescomp"><img width="100%" alt="" src="https://it4profit.com/share/common/S9_2_Icon_1d1d1f_2.png"></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>— </b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>Teleobiectiv </b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>Superangular </b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>Superangular </b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>Ultra-superangular </b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>Ultra-superangular </b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>Mod Cinematic pentru 1080p <br>la 30 fps </b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>Mod Cinematic pentru 1080p <br>la 30 fps </b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>Înregistrare video Dolby Vision HDR la până la 4K la 60 fps </b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>Înregistrare video Dolby Vision HDR la până la 4K la 60 fps </b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="icorescomp"><img width="100%" alt="" src="https://it4profit.com/share/common/210927/S9_1_Icon_1d1d1f_3.png"></div>
    </div>
    <div class="cont50comp">
    <div class="icorescomp"><img width="100%" alt="" src="https://it4profit.com/share/common/210927/S9_1_Icon_1d1d1f_3.png"></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>Cip A15 Bionic </b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>Cip A15 Bionic </b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>CPU 6-core nou cu 2 nuclee de performanță și 4 nuclee de eficiență </b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>CPU 6-core nou cu 2 nuclee de performanță și 4 nuclee de eficiență </b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>GPU 4 <br>core nou</b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>GPU 5 <br>GPU 5-core nou </b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>Neural Engine 16-core nou </b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>Neural Engine 16-core nou </b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="icorescomp"><img width="100%" alt="" src="https://it4profit.com/share/common/S9_1_Icon_1d1d1f_4.png"></div>
    </div>
    <div class="cont50comp">
    <div class="icorescomp"><img width="100%" alt="" src="https://it4profit.com/share/common/S9_1_Icon_1d1d1f_4.png"></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>Până la 19 ore de redare video◊ <sup>◊</sup> </b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>Până la 22 ore de redare video◊ <sup>◊</sup> </b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"> </div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="icorescomp"><img width="100%" alt="" src="https://it4profit.com/share/common/S9_1_Icon_1d1d1f_5.png"></div>
    </div>
    <div class="cont50comp">
    <div class="icorescomp"><img width="100%" alt="" src="https://it4profit.com/share/common/S9_1_Icon_1d1d1f_5.png"></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>Față din <br>Ceramic Shield</b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>Față din<br>Ceramic Shield</b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp">
    <div class="textsm"><b>Aluminiu de calitate aerospațială </b></div>
    </div>
    <div class="cont50comp">
    <div class="textsm"><b>Oțel inoxidabil <br>de calitate chirurgicală</b></div>
    </div>
    </div>
    <div class="rowfull2">
    <div class="cont50comp"> </div>
    <div class="cont50comp"> </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="line2 hidedesk"> </div>
    <div class="comp">
    <div class="row65" style="padding-top: 0px;">
    <div style="background-color: white;">
    <div class="whtmrg">
    <div class="rowfull2" style="padding-bottom: 0px;">
    <div class="cont50iml">
    <div class="smtitle">Accesorii MagSafe</div>
    <div class="btitle">Pune-i o carcasă magnetică, <br>un portofel sau ambele.</div>
    <div class="textreg">Un nou ecosistem de accesorii pentru atașare simplă și încărcare wireless mai rapidă. Datorită nenumăratelor combinații, există câte ceva potrivit fiecărui stil.◊ <sup>◊</sup><br> </div>
    </div>
    <div style="align-self: flex-end;" class="cont50comp hidemob">
    <div><img alt="" src="https://it4profit.com/share/common/RX-S10_Smart_1.png" width="100%"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="hidedesk">
    <div class="backim4mob"> </div>
    <div class="line2"> </div>
    </div>
    <div class="comp">
    <div class="row65" style="padding-top: 0px;">
    <div style="background-color: white;">
    <div class="whtmrg">
    <div class="rowfull" style="padding-top: 0px;">
    <div class="cont50iml">
    <div class="smtitle">
    <img alt="" src="https://it4profit.com/share/common/S11_Icon_1d1d1f_1.png" width="14px"> AirTag</div>
    <div class="btitle">Cel mai ușor mod <br>de a-ți găsi lucrurile.</div>
    <div class="textreg">Atașează un AirTag pentru a-ți monitoriza lucrurile importante și localizează-le cu ușurință folosind aplicația Găsire.◊ <sup>◊</sup>
    </div>
    </div>
    <div style="align-self: flex-start;" class="cont50comp hidemob">
    <div><img alt="" src="https://it4profit.com/share/common/210927/RX-S11_Smart_1.jpg" width="100%"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <p></p>
    </div>
    </div>
    </div>
    </div>
    </div>
    <style type="text/css">@media (min-width: 1430px) and (max-width: 3840px) {
    .hidedesk {
    display: none;
    }
    .comp {
    background-color: #F5F5F7; 
    padding-bottom: 1%;
    }
    .rowfull {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    }
    .rowfull2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 2%;
    padding-bottom: 2%;
    }
    .cell20 {
    display: flex;
    width: 15%;
    margin-right: 5%;
    }
    .cell80 {
    display: flex;
    align-items:baseline;
    width: 80%;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    }
    .cont40 { 
    display: flex;
    flex-direction: column;
    width: 40%;
    }
    .cont50 { 
    display: flex;
    flex-direction: column;
    width: 50%;
    }
    .cont50comp { 
    display: flex;
    flex-direction: column;
    width: 46%;
    margin-left: auto;
    margin-right: auto;
    }
    .cont25 {
    display: flex;
    flex-direction: column;
    width: 19%;
    margin-right: 6%;
    }
    .cont45 { 
    display: flex;
    flex-direction: column;
    width: 45%;
    }
    .cont55iml { 
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
    }
    .cont55imr { 
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
    }
    .cont50iml { 
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 5%;
    }
    .cont50imr { 
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 5%;
    }
    .backim1 {
    background-size: cover; 
    background-image: url(https://www.it4profit.com/share/common/210922/RX-S3_Smart_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: right;
    }
    .backim2 {
    background-size: 195%; 
    background-image: url(https://www.it4profit.com/share/common/bigback.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: 49% 5%;
    background-color: #F5F4F9;
    }
    .bg1 {
    background-color: #34283C;
    padding-top: 4%;
    }
    .dbg {
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #2D2E39;
    color: #FFFFFF;
    }
    .wbg {
    padding-top: 2%;
    background-color: #F5F5F7;
    }
    .ml {
    margin-left: 40%;
    margin-right: 10%;
    }
    .ml2 {
    margin-left: 40%;
    margin-right: 5%;
    }
    .mr {
    margin-left: 10%;
    margin-right: 40%;
    }
    .smtitle {
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 10px;
    }
    .btitle {
    font-size: 34px;
    line-height: 36px;
    font-weight: 600;
    padding-bottom: 20px;
    }
    .btitlecomp {
    font-size: 34px;
    line-height: 36px;
    font-weight: 600;
    }
    .maintitle {
    font-size: 50px;
    line-height: 53px;
    font-weight: 600;
    padding-bottom: 30px;
    }
    .textsm {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    }
    .filler {
    width: 100%;
    height: 100px;
    }
    .row60 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    }
    .row60comp {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    }
    .row65 {
    width: 65%;
    padding-top: 4%;
    margin-left: auto;
    margin-right: auto;
    }
    .whtmrg {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    }
    .icores {
    height: 55px;
    padding-bottom: 15px;
    }
    .imgres {
    width: 55%;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    .icorescomp {
    width: 30%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    .line {
    height: 1px;
    background-color: #EEEEF0;
    }
    .ptpb {
    padding-top: 5px; 
    padding-bottom: 20px;
    }
    }
    @media (min-width: 992px) and (max-width: 1429px) {
    .hidedesk {
    display: none;
    }
    .comp {
    background-color: #F5F5F7; 
    padding-bottom: 1%;
    }
    .rowfull {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    }
    .rowfull2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 2%;
    padding-bottom: 2%;
    }
    .cell20 {
    display: flex;
    width: 15%;
    margin-right: 5%;
    }
    .cell80 {
    display: flex;
    width: 80%;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    }
    .cont40 { 
    display: flex;
    flex-direction: column;
    width: 40%;
    }
    .cont50 { 
    display: flex;
    flex-direction: column;
    width: 50%;
    }
    .cont50comp { 
    display: flex;
    flex-direction: column;
    width: 46%;
    margin-left: auto;
    margin-right: auto;
    }
    .cont25 {
    display: flex;
    flex-direction: column;
    width: 19%;
    margin-right: 6%;
    }
    .cont45 { 
    display: flex;
    flex-direction: column;
    width: 45%;
    }
    .cont55iml { 
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
    }
    .cont55imr { 
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
    }
    .cont50iml { 
    display: flex;
    flex-direction: column;
    width: 50%;
    }
    .cont50imr { 
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 5%;
    }
    .backim1 {
    background-size: cover; 
    background-image: url(https://www.it4profit.com/share/common/210922/RX-S3_Smart_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: right;
    }
    .backim2 {
    background-size: 250%; 
    background-image: url(https://www.it4profit.com/share/common/bigback.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: 50% 5%;
    background-color: #F5F4F9;
    }
    .bg1 {
    background-color: #34283C;
    padding-top: 4%;
    }
    .dbg {
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #2D2E39;
    color: #FFFFFF;
    }
    .wbg {
    background-color: #F5F5F7;
    }
    .ml {
    margin-left: 10.5%;
    margin-right: 10%;
    }
    .ml2 {
    margin-left: 10.5%;
    margin-right: 5%;
    }
    .mr {
    margin-left: 10%;
    margin-right: 10.5%;
    }
    .smtitle {
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 10px;
    }
    .btitle {
    font-size: 34px;
    line-height: 36px;
    font-weight: 600;
    padding-bottom: 20px;
    }
    .btitlecomp {
    font-size: 34px;
    line-height: 36px;
    font-weight: 600;
    }
    .maintitle {
    font-size: 50px;
    line-height: 53px;
    font-weight: 600;
    padding-bottom: 30px;
    }
    .textsm {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    }
    .filler {
    width: 100%;
    height: 85px;
    }
    .row60 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    }
    .row60comp {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    }
    .row65 {
    width: 95%;
    padding-top: 4%;
    margin-left: auto;
    margin-right: auto;
    }
    .whtmrg {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    }
    .icores {
    height: 55px;
    padding-bottom: 15px;
    }
    .imgres {
    width: 55%;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    .icorescomp {
    width: 30%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    .line {
    height: 1px;
    background-color: #EEEEF0;
    }
    .ptpb {
    padding-top: 5px; 
    padding-bottom: 20px;
    }
    }
    @media (min-width: 768px) and (max-width: 991px) {
    .hidedesk {
    display: none;
    }
    .comp {
    background-color: #F5F5F7; 
    padding-bottom: 1%;
    }
    .rowfull {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    }
    .rowfull2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 2%;
    padding-bottom: 2%;
    }
    .cell20 {
    display: flex;
    width: 15%;
    margin-right: 5%;
    }
    .cell80 {
    display: flex;
    width: 80%;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    }
    .cont40 { 
    display: flex;
    flex-direction: column;
    width: 40%;
    }
    .cont50 { 
    display: flex;
    flex-direction: column;
    width: 50%;
    }
    .cont50comp { 
    display: flex;
    flex-direction: column;
    width: 46%;
    margin-left: auto;
    margin-right: auto;
    }
    .cont25 {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin-right: 3%;
    }
    .cont45 { 
    display: flex;
    flex-direction: column;
    width: 45%;
    }
    .cont55iml { 
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
    }
    .cont55imr { 
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
    }
    .cont50iml { 
    display: flex;
    flex-direction: column;
    width: 50%;
    }
    .cont50imr { 
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 5%;
    }
    .backim1 {
    background-size: cover; 
    background-image: url(https://www.it4profit.com/share/common/210922/RX-S3_Smart_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: right;
    }
    .backim2 {
    background-size: 290%; 
    background-image: url(https://www.it4profit.com/share/common/bigback.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: 50% 5%;
    background-color: #F5F4F9;
    }
    .bg1 {
    background-color: #34283C;
    padding-top: 4%;
    }
    .dbg {
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #2D2E39;
    color: #FFFFFF;
    }
    .wbg {
    background-color: #F5F5F7;
    }
    .ml {
    margin-left: 7%;
    margin-right: 7%;
    }
    .ml2 {
    margin-left: 10.5%;
    margin-right: 5%;
    }
    .mr {
    margin-left: 7%;
    margin-right: 7%;
    }
    .smtitle {
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 10px;
    }
    .btitle {
    font-size: 30px;
    line-height: 33px;
    font-weight: 600;
    padding-bottom: 20px;
    }
    .btitlecomp {
    font-size: 34px;
    line-height: 36px;
    font-weight: 600;
    }
    .maintitle {
    font-size: 50px;
    line-height: 53px;
    font-weight: 600;
    padding-bottom: 30px;
    }
    .textsm {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    }
    .filler {
    width: 100%;
    height: 20px;
    }
    .row60 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    }
    .row60comp {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    }
    .row65 {
    width: 100%;
    padding-top: 4%;
    margin-left: auto;
    margin-right: auto;
    }
    .whtmrg {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    }
    .icores {
    height: 55px;
    padding-bottom: 15px;
    }
    .imgres {
    width: 55%;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    .icorescomp {
    width: 30%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    .line {
    height: 1px;
    background-color: #EEEEF0;
    }
    .ptpb {
    padding-top: 5px; 
    padding-bottom: 20px;
    }
    }
    @media (min-width: 260px) and (max-width: 767px) {
    .rowfull {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    }
    .rowfull2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 2%;
    padding-bottom: 2%;
    }
    .cell20 {
    display: flex;
    width: 15%;
    margin-right: 5%;
    }
    .cell80 {
    display: flex;
    width: 80%;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    }
    .cont40 { 
    display: flex;
    flex-direction: column;
    width: 40%;
    }
    .cont50 { 
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    }
    .cont50comp { 
    display: flex;
    flex-direction: column;
    width: 46%;
    margin-left: auto;
    margin-right: auto;
    }
    .cont25 {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 5%;
    padding-bottom: 20px;
    }
    .cont45 { 
    display: flex;
    flex-direction: column;
    width: 45%;
    }
    .cont55iml { 
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
    }
    .cont55imr { 
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
    }
    .cont50iml { 
    width: 100%;
    }
    .cont50imr { 
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 5%;
    }
    .backim1mob {
    background-size: 400px;
    height: 200px;
    background-image: url(https://www.it4profit.com/share/common/210922/RX-S3_Smart_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center;
    }
    .backim2mob {
    background-size: 640px;
    background-image: url(https://www.it4profit.com/share/common/backmob1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center top;
    }
    .backim3mob {
    background-size: 640px;
    height:230px;
    background-image: url(https://www.it4profit.com/share/common/backmob2.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center top;
    }
    .backim4mob {
    background-size: 640px;
    height:430px;
    background-image: url(https://www.it4profit.com/share/common/210927/RX-S10_Smart_1.jpg); background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center top;
    }
    .bg1 {
    background-color: #34283C;
    padding-top: 4%;
    }
    .dbg {
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #2D2E39;
    color: #FFFFFF;
    }
    .wbg {
    background-color: #F5F5F7;
    }
    .smtitle {
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 10px;
    }
    .btitle {
    font-size: 28px;
    line-height: 31px;
    font-weight: 600;
    padding-bottom: 20px;
    }
    .btitlecomp {
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    }
    .maintitle {
    font-size: 35px;
    line-height: 38px;
    font-weight: 600;
    padding-bottom: 30px;
    }
    .textsm {
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    }
    .filler {
    width: 100%;
    height: 230px;
    }
    .row60 {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    }
    .row60comp {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    }
    .row65 {
    width: 250px;
    padding-top: 4%;
    margin-left: auto;
    margin-right: auto;
    }
    .whtmrg {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    }
    .icores {
    height: 55px;
    padding-bottom: 15px;
    }
    .imgres {
    width: 55%;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    .icorescomp {
    width: 30%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    }
    .line {
    height: 1px;
    background-color: #EEEEF0;
    }
    .line2 {
    height: 10px;
    background-color: #F5F5F7;
    }
    .ptpb {
    padding-top: 5px; 
    padding-bottom: 20px;
    }
    .dffw {
    display: flex;
    flex-wrap: wrap;
    }
    .hidemob { 
    display: none;
    }
    .bel {
    background-color: white;
    }
    .comp {
    padding-bottom: 20px;
    }
    }
    .tac {
    text-align: center;
    }
    
    </style>